extends /views/_layout
block content
    section.Hero
        .container
            .row
                .col-xs-12.col-md-5
                    h1 Delir
                        br
                        small Web Tech driven Hackable VFX App

                    p
                        | ダウンロード (alpha.5):&nbsp;
                        br
                        a(href='https://github.com/ra-gg/Delir/releases/download/v0.5.2/Delir-0.5.2-win.zip') Windows
                        | &nbsp;/&nbsp;
                        a(href='https://github.com/ra-gg/Delir/releases/download/v0.5.2/Delir-0.5.2-mac.zip') macOS

                .col-xs-12.col-md-7
                    img.Hero_Screenshot(src='assets/images/screenshot.png' alt="Delir screenshod")
