extends /views/_layout
block content
    section.Hero
        .container
            .row
                .col-md-4
                    h1 Delir
                        br
                        small Web Tech driven Hackable VFX App

                    p
                        | ダウンロード (alpha.3):&nbsp;
                        br
                        a(href='https://github.com/Ragg-/Delir/releases/download/v0.0.0-alpha.3/delir-0.0.0-alpha.3-win.zip') Windows
                        | &nbsp;/&nbsp;
                        a(href='https://github.com/Ragg-/Delir/releases/download/v0.0.0-alpha.3/delir-0.0.0-alpha.3-mac.zip') macOS

                .col-md-8
                    img.Hero_Screenshot(src='assets/images/screenshot.png' alt="Delir screenshod")
