extends /views/_layout
block content
    section.Hero
        .container
            .row
                .col-xs-12.col-md-5
                    h1 Delir
                        br
                        small Web Tech driven Hackable VFX App

                    p
                        | ダウンロード (Alpha.6):&nbsp;
                        br
                        a(href='https://github.com/ra-gg/Delir/releases/download/v0.6.0/Delir-0.6.0-win.zip') Windows
                        | &nbsp;/&nbsp;
                        a(href='https://github.com/ra-gg/Delir/releases/download/v0.6.0/Delir-0.6.0-mac.zip') macOS
                        | &nbsp;/&nbsp;
                        a(href='https://github.com/ra-gg/Delir/releases/download/v0.6.0/Delir-0.6.0-linux.AppImage') Linux (Ubuntu, experimental)

                .col-xs-12.col-md-7
                    img.Hero_Screenshot(src='assets/images/screenshot.png' alt="Delir screenshod")
